<section id="statements-view" class="mainbar">
    <section class="matter">
        <div class="row">
            <div class="col-md-12">
                <div class="widget wviolet">
                    <div ht-widget-header title="eDoc Statements" allow-collapse="true"></div>
                    <div class="widget-content text-left text-info" style="display:inline-block; width: 100%">
                        <div class="row col-lg-12 col-xs-12" style="margin-bottom: 10px; margin-left: 0px;"> 
                            <span><i class="ion ion-document-text"></i><strong> eDoc Statements</strong></span>
                        </div>
                        <div class="row col-lg-6 col-xs-12" style="margin-bottom: 5px; margin-left: 0px;">   
                            <span>
                                <button style="margin-bottom: 10px; margin-left: 0px;" ui-sref="statements({ view: 'grid' })" class="btn btn-primary"><i class="fa fa-arrow-circle-right"></i>Grid View</button></span>
                            </span>
                        </div>
                        <div class="row col-lg-6 col-xs-12" style="margin-bottom: 15px; margin-left: 0px;">
                            <h1><b>{{(vm.eDocStatements | filter: search).length}} Statements found</b></h1>
                        </div>
                        <div class="row col-lg-12 col-xs-12" style="margin-bottom: 5px; margin-left: 0px;">
                            <h2><b>MAIL DATES:</b></h2>
                        </div>
                        <div class="row col-lg-12 col-md-12 col-sm-5 col-xs-12" style="margin-bottom: 10px; margin-left: 0px; display:inline-block;">
                            <div class="row col-xl-3 col-lg-4 col-md-5 col-sm-12 col-xs-12"">
                                <b>Start Date:</b>                                                         
                                <ng-datepicker style="margin-top: 2px; display:inline-block;" ng-model="vm.statementDateStart" format="YYYYMMDD" view-format="MM/DD/YYYY"></ng-datepicker>
                            </div>
                            <div class="row col-xl-9 col-lg-8 col-md-7 col-sm-12 col-xs-12">
                                <b>End Date:&nbsp</b>
                                <ng-datepicker style="margin-top: 2px; margin-bottom: 5px; display:inline-block;" ng-model="vm.statementDateEnd" format="YYYYMMDD" view-format="MM/DD/YYYY"></ng-datepicker>
                                &nbsp &nbsp                      
                                <button style="margin-top: -2px; margin-left: 0px; display:inline-block;" class="btn btn-primary" ng-click="vm.filterStatementsByDate()"><i class="fa fa-filter"></i>Filter</button>
                            </div>
                        </div>
                        <div class="row col-lg-12 col-xs-12" style="margin-bottom: 10px; margin-left: 0px">
                            <hr>
                        </div>
                        <div class="col-lg-4 col-xs-12" ng-repeat="s in vm.eDocStatements | filter:search">
                            <!-- small box -->
                            <div class="small-box bg-purple" style="text-overflow: ellipsis;">
                                <div class="inner" style="text-overflow: ellipsis;">
                                    <h4 style="text-overflow: ellipsis;"><a ui-sref="statementDetail({ id: s.id })" style="color: white;">{{s.Statement_ID}}</h4></a>
                                    <p>
                                        <b>{{vm.truncateText(s.Description)}}</b>
                                        <br>Mail Date: <b>{{vm.dateFormat(s.MailDate)}}</b>
                                        <br>Total Pieces: <b>{{vm.numberFormat(s.TotalPieceCount)}}</b>
                                        <br>Total Postage: <b>{{vm.currencyFormat(s.TotalPostage)}}</b>
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-document-text"></i>
                                </div>
                                <div class="small-box-footer" style="text-align: left;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>