<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wblue">
                    <div ht-widget-header title="{{vm.title}}" allow-collapse="true"></div>
                    <div class="widget-content text-left text-info" style="display:inline-block; width: 100%">
                        <div class="row" style="margin-bottom: 10px; margin-left: 0px;">
                            <div class="col-lg-12 col-xs-12">
                                <uib-accordion close-others="false">
                                    <uib-accordion-group is-open="true">
                                        <uib-accordion-heading>
                                            <span ng-click="vm.accordianGroupStatus.open = !vm.accordianGroupStatus.open"><i class="fa fa-2x fa-file-text-o"></i><b> Import eDoc Statements</b></span> 
                                            <i class="pull-right glyphicon" ng-click="vm.accordianGroupStatus.open = !vm.accordianGroupStatus.open" 
                                            ng-class="{'glyphicon-chevron-down': vm.accordianGroupStatus.open, 'glyphicon-chevron-right': !vm.accordianGroupStatus.open}"></i>
                                        </uib-accordion-heading>
                                        <form name="importEdocStatementForm">
                                            <fieldset>
                                                <legend>eDoc Statement File</legend>
                                                <span class="btn btn-primary btn-file">
                                                    Choose JSON File <input id="JSONInputFile" type="file" onchange="angular.element(this).scope().onFileUpload(this)">
                                                </span>
                                                <span ng-show="vm.inputFileName">CURRENT FILE: <b>{{vm.inputFileName}}</b></span>
                                            </fieldset>
                                        </form> 
                                        <div ng-show="vm.showInputStatements" class="col-lg-12 col-xs-12">
                                        <h4> {{vm.statements.length}} Statement(s) Found: </h4>
                                        <table style="font-size: 1.5em;" class="table table-bordered table-striped table-responsive">
                                            <thead>
                                                <tr>
                                                    <th>Statement ID</th>
                                                    <th>Permit</th>
                                                    <th>Mail Owner</th>
                                                    <th># of Pieces</th>
                                                    <th>Gross Postage</th>
                                                    <th>-</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="s in vm.statements">
                                                    <td>{{s.Statement_ID}}</td>
                                                    <td>{{s.PermitNumber}}</td>
                                                    <td>{{s.MailOwnerName}}</td>
                                                    <td>{{vm.numberFormat(s.TotalPieceCount)}}</td>
                                                    <td>{{vm.currencyFormat(s.TotalPostage)}}</td>
                                                    <td>
                                                        <button class="btn btn-danger" style="margin-top: 3px;" ng-click="vm.deleteImportStatement(s.Statement_ID, s.TotalPieceCount, s.TotalPostage)"><i class="fa fa-trash"></i> Remove</button>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th></th>
                                                    <th></th>
                                                    <th>{{vm.strTOTALS}}</th>
                                                    <th>{{vm.numberFormat(vm.totalPieces)}}</th>
                                                    <th>{{vm.currencyFormat(vm.totalPostage)}}</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        <div class="row col-lg-12 col-xs-12">
                                            <button style="margin-bottom: 10px; margin-left: 0px; margin-top: 10px;" ng-click="vm.importStatements()" class="btn btn-success"><i class="fa fa-upload"></i>Import Statement Data</button>
                                            <button style="margin-bottom: 10px; margin-left: 0px; margin-top: 10px;" ng-click="vm.clearStatements()" class="btn btn-warning"><i class="fa fa-ban"></i>Clear</button>
                                        </div>
                                    </uib-accordion-group>
                                </uib-accordion>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>