<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wviolet">
                    <div ht-widget-header title="{{vm.title}}" allow-collapse="true"></div>
                    <div class="widget-content text-left text-info" style="display:inline-block; width: 100%">
                        <div class="row" style="margin-bottom: 10px; margin-left: 0px;">
                            <div class="col-lg-12 col-xs-12">
                                <div class="widget wviolet">
                                    <div ht-widget-header title="Import/Export"></div>
                                    <div class="widget-content text-left text-info">
                                        <div>
                                            <form name="importEdocStatementForm">
                                                <fieldset>
                                                    <legend>Import eDoc Statement File</legend>
                                                    <b>File Path (JSON):</b>
                                                    <br>    
                                                    <!--<input ngf-select="" ng-model="vm.eDocFileName" name="eDocFileName" ngf-accept=".txt" required="" type="file">-->
                                                    <input ngf-select="" ng-model="vm.eDocFileName" name="eDocFileName" required="" type="file">
                                                    <i ng-show="importEdocStatementForm.file.$error.required">*required</i>
                                                    <br>

                                                    <!--<button ng-disabled="!importEdocStatementForm.$valid" ng-click="uploadPic(vm.eDocFileName)">Submit</button>-->
                                                    <br>
                                                    <button  ng-click="uploadPic(vm.eDocFileName)">Submit</button>
                                                    
                                                    <br>
                                                    <span class="progress" ng-show="vm.eDocFileName.progress >= 0">
                                                            <div class="ng-binding" style="width:{{vm.eDocFileName.progress}}%" ng-bind="vm.eDocFileName.progress + '%'"></div>
                                                        </span>
                                                    <span ng-show="vm.eDocFileName.result">Upload Successful</span>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>