<section id="mailerids-view" class="mainbar">
    <section class="matter">
        <div class="row">
            <div class="col-md-12">
                <div class="widget wred">
                    <div ht-widget-header title="Mailer ID&#39s" allow-collapse="true"></div>
                    <div class="widget-content text-left text-info" style="display:inline-block; width: 100%">
                        <div class="row col-lg-12 col-xs-12" style="margin-bottom: 10px; margin-left: 0px;"> 
                            <span><i class="fa fa-2x fa-envelope-o">&nbsp</i><strong> USPS Registered Mailer ID&#39s</strong></span>
                        </div>
                        <div class="row col-lg-6 col-xs-12" style="margin-bottom: 5px; margin-left: 0px;">   
                            <span>
                                <button style="margin-bottom: 10px; margin-left: 0px;" ui-sref="mailerids"class="btn btn-primary"><i class="fa fa-arrow-circle-right"></i>Grid View</button></span>
                                <button style="margin-bottom: 10px;" class="btn btn-success" ng-click="vm.addMailerId()"><i class="fa fa-plus-square"></i>Add New Mailer ID</button>
                            </span>
                        </div>
                        <div class="row col-lg-6 col-xs-12" style="margin-bottom: 15px; margin-left: 0px;">
                            <h1><b>{{(vm.MailerIds | filter: search).length}} Mailer ID&#39s Found</b></h1>
                        </div>
                        <div class="form-group row col-lg-12 col-xs-12" style="margin-bottom: 10px;"> 
                            <div class="col-sm-12 col-lg-8 col-xs-12">
                                <span class="fa fa-search" style="position: absolute;top: 7px;left: 27px; color: gray; font-size: 1.5em;"></span>
                                <input style="text-indent: 32px;" type="search"  focus="true" class="form-control" ng-model="search.MailerID" placeholder="Search" />
                            </div>
                        </div>
                        <div class="row col-lg-12 col-xs-12" style="margin-bottom: 10px; margin-left: 0px">
                            <hr>
                        </div>
                        <div class="col-lg-4 col-xs-12" ng-repeat="m in vm.MailerIds | filter:search">
                            <!-- small box -->
                            <div class="small-box bg-red" style="text-overflow: ellipsis;">
                                <div class="inner">
                                    <h3 style="text-overflow: ellipsis;"><a ui-sref="mailOwnerDetail({ id: m.mailOwnerId })" style="color: white;">{{m.MailerID}}</h3></a>
                                    <h4><a ui-sref="mailOwnerDetail({ id: m.mailOwnerId })" style="color: white;">{{getMailOwnerName(m.mailOwnerId)}}</h4></a>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-envelope-o"></i>
                                </div>
                                <div class="small-box-footer" style="text-align: left;">
                                    <span><button class="btn btn-primary" style="margin-left: 9px;margin-top: 10px; margin-bottom: 10px;" ng-click="editMailerId(m.id)"><i class="fa fa-edit"></i>Edit</button></span>
                                    <span><button class="btn btn-danger" style="margin-top: 10px; margin-bottom: 10px;" ng-click="deleteMailerId(m.id)"><i class="fa fa-trash"></i>Delete</button></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>