<section id="mailOwners-view" class="mainbar">
    <section class="matter">
        <div class="row">
            <div class="col-md-12">
                <div class="widget wlightblue">
                    <div ht-widget-header title="Mail Owners" allow-collapse="true"></div>
                        <div class="widget-content text-left text-info" style="display:inline-block;">    
                             <div class="row col-lg-12 col-xs-12" style="margin-bottom: 10px; margin-left: 3px;">
                                <span><i class="fa fa-database"></i><strong> USPS Registered Mail Owners</strong></span>
                                <span><button style="margin-bottom: 10px;" ui-sref="mailOwners"class="btn btn-primary"><i class="fa fa-arrow-circle-right"></i>Grid View</button></span>
                                <button style="margin-bottom: 10px;" class="btn btn-success" ng-click="vm.addMailOwner()"><i class="fa fa-plus-square"></i>Add New Mail Owner</button></span>
                              </div>
                              <div class="row col-lg-12 col-xs-12" style="margin-bottom: 10px; margin-left: 3px;">
                                <span>Search by Mail Owner Name: <input type="text" ng-model="search.Name"></span>
                              </div>
                              <div class="col-lg-4 col-xs-12" ng-repeat="o in vm.mailOwners | filter:search">
                                <!-- small box -->
                                <div class="small-box bg-aqua">
                                    <div class="inner">
                                        <h4><a ui-sref="mailOwnerDetail({ id: o.id })" style="color: white;">{{o.Name}}</h4></a>
                                        <p>
                                            {{o.Address1}}<br>
                                            {{o.Address2}}&nbsp<br>
                                            {{o.City}}, {{o.State}} {{o.Zip5}}
                                        </p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-android-drafts"></i>
                                    </div>
                                    <div class="small-box-footer" style="text-align: left;">
                                        <span><button class="btn btn-primary" style="margin-left: 9px;margin-top: 10px; margin-bottom: 10px;" ng-click="editMailOwner(o.id)"><i class="fa fa-edit"></i>Edit</button></span>
                                        <span><button class="btn btn-danger" style="margin-top: 10px; margin-bottom: 10px;" ng-click="deleteMailOwner(o.id)"><i class="fa fa-trash"></i>Delete</button></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</section>