<div class="modal-header">
	<h2>{{vm.properties.title}}</h2>	
</div>

<div class='modal-body container'>
	<form name="addMailOwnerForm" class="form-horizontal" role="form" ng-submit="vm.add()" novalidate  >
		<div class="form-group" ng-class="{ 'has-error' : addMailOwnerForm.Name.$invalid }">
			<label class="col-sm-12" for="Name">Mail Owner Name:*</label>
			<div class="col-sm-12">
				<input type="text" class="form-control" name="Name" required ng-model="vm.newMailOwner.Name" placeholder="Enter Mail Owner/Company Name" ng-class="{ 'has-error' : addMailOwnerForm.Name.$invalid }">
				<span class="help-block" ng-show="addMailOwnerForm.Name.$error.required && vm.submitted">Mail Owner Name is Required!</span>
			</div>
		</div>
		<div class="form-group" ng-class="{ 'has-error' : addMailOwnerForm.ContactName.$invalid }">
			<label class="col-sm-12" for="ContactName">Contact Name:</label>
			<div class="col-sm-12">
				<input type="text" class ="form-control" name="ContactName" ng-maxlength="100" ng-model="vm.newMailOwner.ContactName" placeholder="Enter Contact Name" />
				<span class="help-block" ng-show="addMailOwnerForm.ContactName.$error.maxlength && vm.submitted">Contact Name is too long (must less than 100 characters)!</span>
			</div>
		</div>
		<div class="form-group" ng-class="{ 'has-error' : addMailOwnerForm.Address1.$invalid }">
			<label class="col-sm-12" for="Address1">Address 1:*</label>
			<div class="col-sm-12">
				<input type="text" class ="form-control" name="Address1" required ng-maxlength="100" ng-model="vm.newMailOwner.Address1" placeholder="Enter Primary Address Line" />
				<span class="help-block" ng-show="addMailOwnerForm.Address1.$error.required && vm.submitted">Address 1 is Required!</span>
				<span class="help-block" ng-show="addMailOwnerForm.Address1.$error.maxlength && vm.submitted">Address 1 is too long (must less than 100 characters)!</span>
			</div>
		</div>
		<div class="form-group" ng-class="{ 'has-error' : addMailOwnerForm.Address2.$invalid }">
			<label class="col-sm-12" for="Address2">Address 2:</label>
			<div class="col-sm-12">
				<input type="text" class ="form-control" name="Address2" ng-maxlength="100" ng-model="vm.newMailOwner.Address2" placeholder="Enter Secondary Address Line" />
				<span class="help-block" ng-show="addMailOwnerForm.Address2.$error.maxlength && vm.submitted">Address 2 is too long (must less than 100 characters)!</span>
			</div>
		</div>
		<div class="form-group" ng-class="{ 'has-error' : addMailOwnerForm.City.$invalid }">
			<label class="col-sm-12" for="City">City:*</label>
			<div class="col-sm-12">
				<input type="text" class ="form-control" name="City" required ng-maxlength="100" ng-model="vm.newMailOwner.City" placeholder="Enter City Name" />
				<span class="help-block" ng-show="addMailOwnerForm.City.$error.required && vm.submitted">City Name is Required!</span>
				<span class="help-block" ng-show="addMailOwnerForm.City.$error.maxlength && vm.submitted">City is too long (must less than 100 characters)!</span>
			</div>
		</div>
		<div class="form-group" ng-class="{ 'has-error' : addMailOwnerForm.State.$invalid }">
			<label class="col-sm-12" for="State">State:*</label>
			<div class="col-sm-4">
				<select class="form-control" name="State" required ng-model="vm.newMailOwner.State">
					<option value="AL">AL</option>
					<option value="AK">AK</option>
					<option value="AZ">AZ</option>
					<option value="AR">AR</option>
					<option value="CA">CA</option>
					<option value="CO">CO</option>
					<option value="CT">CT</option>
					<option value="DE">DE</option>
					<option value="DC">DC</option>
					<option value="FL">FL</option>
					<option value="GA">GA</option>
					<option value="HI">HI</option>
					<option value="ID">ID</option>
					<option value="IL">IL</option>
					<option value="IN">IN</option>
					<option value="IA">IA</option>
					<option value="KS">KS</option>
					<option value="KY">KY</option>
					<option value="LA">LA</option>
					<option value="ME">ME</option>
					<option value="MD">MD</option>
					<option value="MA">MA</option>
					<option value="MI">MI</option>
					<option value="MN">MN</option>
					<option value="MS">MS</option>
					<option value="MO">MO</option>
					<option value="MT">MT</option>
					<option value="NE">NE</option>
					<option value="NV">NV</option>
					<option value="NH">NH</option>
					<option value="NJ">NJ</option>
					<option value="NM">NM</option>
					<option value="NY">NY</option>
					<option value="NC">NC</option>
					<option value="ND">ND</option>
					<option value="OH">OH</option>
					<option value="OK">OK</option>
					<option value="OR">OR</option>
					<option value="PA">PA</option>
					<option value="RI">RI</option>
					<option value="SC">SC</option>
					<option value="SD">SD</option>
					<option value="TN">TN</option>
					<option value="TX">TX</option>
					<option value="UT">UT</option>
					<option value="VT">VT</option>
					<option value="VA">VA</option>
					<option value="WA">WA</option>
					<option value="WV">WV</option>
					<option value="WI">WI</option>
					<option value="WY">WY</option>
				</select>
				<span class="help-block" ng-show="addMailOwnerForm.State.$error.required && vm.submitted">State Code is Required!</span>
			</div>
		</div>
		<div class="form-group" ng-class="{ 'has-error' : addMailOwnerForm.Zip5.$invalid }">
			<label class="col-sm-12" for="Zip5">Zip Code:*</label>
			<div class="col-sm-12">
				<input type="text" class ="form-control" name="Zip5" required ng-minlength="5" ng-maxlength="5" ng-model="vm.newMailOwner.Zip5" placeholder="Enter 5-Digit Zip Code" />
				<span class="help-block" ng-show="addMailOwnerForm.Zip5.$error.required && vm.submitted">Zip Code is Required!</span>
				<span class="help-block" ng-show="addMailOwnerForm.Zip5.$error.minlength && vm.submitted">Zip Code is too short (must be 5 digits)!.</span>
				<span class="help-block" ng-show="addMailOwnerForm.Zip5.$error.maxlength && vm.submitted">Zip Code is too long (must be 5 digits)!.</span>
			</div>
		</div>
		<div class="form-group" ng-class="{ 'has-error' : addMailOwnerForm.ZipPlus4.$invalid }">
			<label class="col-sm-12" for="ZipPlus4">Zip Plus 4:</label>
			<div class="col-sm-12">
				<input type="text" class ="form-control" name="ZipPlus4" ng-minlength="4" ng-maxlength="4" ng-model="vm.newMailOwner.ZipPlus4" placeholder="Enter 4-Digit Plus4 Code" />
				<span class="help-block" ng-show="addMailOwnerForm.ZipPlus4.$error.minlength && vm.submitted">Zip Plus 4 Code is too short (must be 4 digits)!.</span>
				<span class="help-block" ng-show="addMailOwnerForm.ZipPlus4.$error.maxlength && vm.submitted">Zip Plus 4 Code is too long (must be 4 digits)!.</span>
			</div>
		</div>
		<div class="form-group" ng-class="{ 'has-error' : addMailOwnerForm.Phone.$invalid }">
			<label class="col-sm-12" for="Phone">Phone:</label>
			<div class="col-sm-12">
				<input type="text" class ="form-control" name="Phone" ng-model="vm.newMailOwner.Phone" placeholder="Enter a Phone Number" />
			</div>
		</div>
		<p><small>* = Required</small></p>
		<div class='modal-footer'>
			<button class="btn btn-primary" type="submit"><i class="fa fa-plus-square"></i>{{vm.properties.buttons[0]}}</button>
			<button class="btn btn-default" ng-click="vm.cancel()"><i class="fa fa-ban"></i>{{vm.properties.buttons[1]}}</button>
		</div>
	</form>
<!--
	<pre>New Mail Owner = {{vm.newMailOwner | json}}</pre>
-->
</div>